@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
// Utilities
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem auto;
}

.input-container {
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, .5);
  border-radius: 5px;
}

#todo-input, #todo-input:focus {
  height: 1.5rem;
  line-height: 3;
  outline: none;
  margin-right: 1rem;
  font-weight: 600;
}

#todo-submit{
  height: 1.5rem;
  cursor: pointer;
  padding: 0 .5rem;
  &:focus {
    outline: none;
    border: 2px solid rgba(0, 0, 0, .5);
    border-radius: 2px;
  }
}

.completed {
  color: rgba(2, 140, 2, 0.453);
 
}
.unfinished {
  color: rgba(155, 0, 0, .8);
  
}

// Todos Styling

#todos {
  width: 50%;
  margin: 2rem auto;
  list-style: none;
  display: flex;
  flex-direction: column;
  .todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    padding: 1rem .5rem;
    margin: .5rem .1rem;
    border-radius: 5px;
    font-size: 1.5rem;
  }
}

.todo:nth-of-type(even){
  background: #ddd;
}

.todo:nth-of-type(odd){
  background: #fff;
}

.deletetodo {
  font-size: 1.5rem;
  color: rgba(255, 0, 0, 0.782);
}

.checktodo {
  font-size: 1.5rem;
  
  padding: 1rem;
  border-radius: 50%;
}