@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

.container {
  background: #444444;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100vh;
}

header {
  width: 100%;
  text-align: center;
}

h1 {
  color: #b5b5b5;
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #ddd;
  margin: 2rem auto;
  padding: 1rem;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  width: 40%;
}

#todo-input, #todo-input:focus {
  height: 2rem;
  line-height: 2rem;
  outline: none;
  margin-right: 1rem;
  font-weight: 600;
  font-size: 1rem;
  padding: 5px;
  width: 80%;
}

#todo-submit {
  height: 1.5rem;
  cursor: pointer;
  padding: 0 0.5rem;
}
#todo-submit:focus {
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}

.completed {
  color: rgba(2, 140, 2, 0.453);
  text-decoration: line-through;
}

.unfinished {
  color: rgba(155, 0, 0, 0.8);
}

#todos {
  width: 50%;
  margin: 2rem auto;
  list-style: none;
  display: flex;
  flex-direction: column;
}
#todos .todo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  padding: 0 0.5rem;
  margin: 0.5rem 0.1rem;
  border-radius: 5px;
  font-size: 1.5rem;
}

.todo:nth-of-type(even) {
  background: #aaa;
}

.todo:nth-of-type(odd) {
  background: #fff;
}

.deletetodo {
  font-size: 1.5rem;
  color: rgba(255, 0, 0, 0.782);
}

.checktodo {
  font-size: 1.5rem;
  border-radius: 50%;
}

@media (max-width: 700px) {
  #todos {
    width: 90%;
    margin: 2rem auto;
  }
  #todos .todo {
    font-weight: 600;
    padding: 0 0.5rem;
    margin: 0.5rem 0.1rem;
    border-radius: 5px;
    font-size: 1.5rem;
  }

  .input-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #ddd;
    margin: 2rem auto;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 80%;
  }
}
